body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

body.modalOpened{
  overflow: hidden;
}

.main-content{
  transition: all 0.5s ease;
}


.main-content.modalOpened{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#usage-estimator{
  background-color: #272727;
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align:center;
  color: #AAAAAA;
  position: relative;
  transition: all 0.75s ease-out;
  border: 1px solid #707070;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  overflow: auto;
}
#usage-estimator.closed{
  opacity: 0;
  transform: scale(0);
}

#usage-estimator.hidden{
  display: none;
}
#modalClose{
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 25px;
  color: #707070
}

#usage-estimator h2 {
  font-family: "Industrial", "Times New Roman", Times, serif;
  margin: 10px 0 30px 0;
}

#usage-estimator .container {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.usage-estimator-heading {
  font-size: 2.3rem;
  text-transform: uppercase;
}

.estimator-container {
  display: flex;
  width: 80vw;
  max-width: 450px;
  gap:20px;
  transition: max-width 1s ease;
}

.estimator-container.show {
  max-width: 900px;
}

.estimator-container .input-fields,
.estimator-container .results{
  border: 1px solid #707070;
  border-radius: 25px;
  padding: 0 12px;
}



#usage-estimator .veg-container,
#usage-estimator .flow-container
{
  border: 1px solid #707070;
  border-radius: 25px;
  padding: 20px;
}
#usage-estimator .flow-container{
  margin-top: 20px;
}

#usage-estimator .water-usage-input{
  display: flex;
  align-items: center;
  background-color: #2E2E2E;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 0 5px;
}

#usage-estimator .water-usage-input input[type='text']{
  border: none;
  background-color: transparent;
  color: #AAAAAA;

}

#usage-estimator .input-group{
  display:flex;
  align-items: center;
  justify-content: center;
}

#usage-estimator .input-group ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.water-buttons-group a{
  text-decoration: none;
  color: #FF0000;
  transition: color 0.5s ease
}

.water-buttons-group a:hover{
  color: #c70505;

}
.water-buttons-group svg{
  width: 15px;
  pointer-events: none;
}

.water-buttons-group svg path{
  pointer-events: none;
}
.water-buttons-group .veg-water-increment svg,
.water-buttons-group .flow-water-increment svg{
  margin-bottom: -8px;
}
.water-buttons-group .veg-water-substraction svg,
.water-buttons-group .flow-water-substraction svg
{
  margin-top: -8px;
}

.input-group ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 40px;
  box-sizing: border-box;
}
.input-group li{
  box-sizing: border-box;

  position: relative;
  background: #2E2E2E;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  font-size: 19px;
  border: 1px #707070 solid;
  transition: 0.3s;
  margin: 0 5px;
}

.input-group li input[type='radio']{
  opacity: 0;
}



.input-group li label {
  position: absolute;
  width:40px;
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 50%;
  left: 50%;
  border-radius: 7px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
}

.selector-label,
.water-input-label{
  font-size:14px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.input-group{
  margin-bottom: 20px;
}
.estimator-container .input-fields label {
  margin-bottom: 3px !important;
  font-weight: bold;
  font-size: 18px;
}

.veg-radio:checked ~ label,
.flow-radio:checked ~ label
{
  background: #fff !important;
  color: #333;
}

.estimator-container .input-fields input {
  width: 85%;
  height: 35px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
}
.estimator-container .results {
  transform: translate(0, -100px);
  opacity: 0;
  display: none;
  transition: all 1s ease-in-out;
}

.estimator-container .results.show {
  transform: none;
  opacity: 1;
}

.estimator-container .results table{
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 5px; 
  margin-top: -10px; /* correct offset on first border spacing if desired */
}

#a-b-bloom-cleanup{
  margin-bottom: 10px;
  border-spacing: 0;
  margin-top: -32px;
}

#front-row-si{
  margin-top: -5px;
}

#triologic{
  margin-top: 0px;
}
#a-b-bloom-cleanup thead td{
  height: 30px;
}

.estimator-container .results table tbody tr:not(.spacer) td{
  border-top: 1px solid gray;
  border-bottom:1px solid gray ;
  height: 45px;
}
.estimator-container .results table tbody tr:not(.spacer) td:first-child{
  border-left-style: solid;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
  border-width: 1px;
  width: 100px;
}
.estimator-container .results table thead{
  font-size: 14px;
}
.estimator-container .results table tbody tr:not(.spacer) td:nth-child(2){
  width: 120px;
}

.estimator-container .results table tbody tr:not(.spacer) td:nth-child(3){
  font-size: 13px;
  width: 30px;
}

.estimator-container .results table tbody tr:not(.spacer) td:nth-child(4){
  width: 50px;
}

.estimator-container .results table tbody tr:not(.spacer) td:nth-child(4),
.estimator-container .results table tbody tr:not(.spacer) td:nth-child(5),
.estimator-container .results table tbody tr:not(.spacer) td:nth-child(6)
{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat';
}

.estimator-container .results table tbody tr:not(.spacer) td:nth-child(5){
  width: 40px;
}


.estimator-container .results table tbody tr:not(.spacer) td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 20px; 
  border-top-right-radius: 20px; 
  border-width: 1px;
}
.estimator-container .results table tbody tr.spacer{
  height: 7px;
}

.product-name{
  font-size: 23px;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-family: 'Industrial', sans-serif;
  text-transform: uppercase;
}

#front-row-si .product-name{
  font-size: 16px;
}

#front-row-si .product-name .lowercase{
  text-transform: lowercase;
}

#triologic .product-name{
  font-size: 19px;
}
.veg-container,
.flow-container {
  display: flex;
  flex-direction: column;
}

.veg-container {
  margin-bottom: 20px;
}


.results-list {
  padding-left: 0;
  width: 85%;
  font-family: "Industrial";
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}
.results-list p {
  margin: 0;
}
.results-list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results-list li a {
  color: #bd0100;
  text-decoration: none;
  transition: color 0.4s ease;
}
.results-list .bloom a,
.results-list .bioflo a {
  text-transform: uppercase;
}
.results-list .product-link:hover {
  color: #8a0000;
}

.results-list li .weight {
  margin: 12px;
}
.results-list li .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
}

.btn {
  border: 2px solid transparent;
  font-family: "Industrial", Arial;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #7C0000;
  color: #fff;
  padding: 7px 30px;
  cursor: pointer;
  transition: all 0.8s ease;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.results .btn{
  margin-top: 25px;
}
.btn:hover {
  background-color: white;
  color: black;
}

@media (max-width: 980px) {
  .estimator-container{
    width: 95vw;
    width: 100%;
  }
}
@media (max-width: 725px) {
  .estimator-container {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .estimator-container .results {
    padding-top: 1rem;
    transform: translate(0, -100px);
  }
}
